.nav_blur{
    margin-top: -95px;
    background-color: rgb(39, 34, 34);
    width: 100vw;
    height: 95px;
    position: fixed;
}
.inicio{
    position: absolute;
    width: 100px;
    display: inline-block;
    margin-left: 80px;
    padding: 0 0 0 0;
    border: none;  
}
.img_home{
    height: 94px;
}
.btn_busqueda{
    width: 65px;
    height: 40px;
    color:white;
    background-color: rgb(109, 102, 102);
    display: inline-block;
    position:absolute;
    margin-top: 25px;
    margin-left:1220px;
    padding-top: 5px;
    border: hidden;
    border-end-end-radius: 10px;
    border-top-right-radius: 10px;
}
.busqueda{
    min-height: 40px;
    min-width: 550px;
    display: inline-block;
    position:absolute;
    margin-top: 25px;
    margin-left:670px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: hidden;
}
.about_us{
    color:azure;
    display: inline-block;
    position:absolute;
    text-decoration: none;
    margin-top: 32px;
    margin-left: 1510px;
}
.login{
    color:azure;
    display: inline-block;
    position:absolute;
    text-decoration: none;
    margin-top: 32px;
    margin-left: 1710px;
}
.espacio_logo{
    margin-top: 94px;
    width: 350;
    height: 1100px;
    background-color: rgb(77, 69, 69);
}
.logo{    
    margin: 45px 650px 0px;
    height:300px;
    width:300px;
    border-radius: 100px;
}
.aside{
    position: fixed;
    background-color: #FFFAE8;
    width: 350px;
    height: 840px;
    margin-top:-1100px;
    margin-left: 1552px;
}
.recomendados{
    background-color: rgb(161, 146, 146);
    width: 1600px;
    height: 258px;
}
.receta_1{
    padding-top: 20px;
    margin-left: 30px;
    margin-top: -650px;
}
.receta_2{
    margin-left: 430px;
    margin-top: -220px;
}
.receta_3{
    margin-left: 830px;
    margin-top: -220px;
}
.receta_4{
    margin-left: 1230px;
    margin-top: -220px;
}
.footer{
    margin-top: 200px;
    background-color: rgb(32, 29, 29);
    height: 300px;
}
.grupo{
    margin-left: 20px;
    padding-top: 20px;
    color: white;
}
.footer_ismael{
    padding-top: 20px;
    color: white;
}
