.nav_blur{
    margin-top: -95px;
    background-color: rgb(39, 34, 34);
    width: 100vw;
    height: 95px;
    position: fixed;
}
.inicio{
    position: absolute;
    width: 100px;
    display: inline-block;
    margin-left: 80px;
    padding: 0 0 0 0;
    border: none;  
}
.img_home{
    height: 94px;
}
.btn_busqueda{
    width: 65px;
    height: 40px;
    color:white;
    background-color: rgb(109, 102, 102);
    display: inline-block;
    position:absolute;
    margin-top: 25px;
    margin-left:1020px;
    padding-top: 5px;
    border: hidden;
    border-end-end-radius: 10px;
    border-top-right-radius: 10px;
}
.busqueda{
    min-height: 40px;
    min-width: 550px;
    display: inline-block;
    position:absolute;
    margin-top: 25px;
    margin-left:470px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: hidden;
}
.contacto{
    color:azure;
    display: inline-block;
    position:absolute;
    text-decoration: none;
    margin-top: 32px;
    margin-left: 1300px;

}
.about_us{
    color:azure;
    display: inline-block;
    position:absolute;
    text-decoration: none;
    margin-top: 32px;
    margin-left: 1510px;
}
.login{
    color:azure;
    display: inline-block;
    position:absolute;
    text-decoration: none;
    margin-top: 32px;
    margin-left: 1710px;
}
.espacio_logo{
    margin-top: 94px;
    width: 100 vw;
    min-height: 100vh;
    background-color: rgb(77, 69, 69);
}
.logo{
    margin-top: 2.5%;
    margin-left: 45%;
    height:300px;
    width:300px;
    border-radius: 100px;
}
.recomendados{
    margin-top: 10%;
    background-color: rgb(161, 146, 146);
    min-width: 100vw;
    height: 258px;
}
.receta_1{
    padding-top: 20px;
    margin-left: 30px;
    margin-top: -650px;
}
.receta_2{
    margin-left: 430px;
    margin-top: -220px;
}
.receta_3{
    margin-left: 830px;
    margin-top: -220px;
}
.receta_4{
    margin-left: 1230px;
    margin-top: -220px;
}
.footer{
    margin-top: 200px;
    background-color: rgb(32, 29, 29);
    height: 300px;
}
.grupo{
    margin-left: 20px;
    padding-top: 20px;
    color: white;
}
.footer_ismael{
    padding-top: 20px;
    color: white;
}
