@media screen and (max-width: 425px){
    .main_page{
        background-color: rgb(109, 102, 102);
        height: 100vh;
    }
    .img_home{
        width: 425px;
    }
    .container-fluid{
        margin-top: -2px;
        min-height: 50px;
        position: relative;
        background-color:rgb(77, 69, 69);
        padding-left: 5px !important;
    }
    .btn_busqueda{
        height: 30px;
        margin-left: -5px;
        color: white;
        text-decoration: none;
        border-end-end-radius: 10px;
        border-top-right-radius: 10px;
        border: hidden;
        background-color: rgb(109, 102, 102);
    }
    .busqueda{
        margin-left: 10px;
        height: 30px;
        width: 270px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border: hidden;
    }
    .navbar-toggler{
        position: absolute;
        background-color: rgb(105, 94, 94) !important;
        margin-left: 350px;
    }
    .navbar-toggler-icon{
        position: relative;
    }
    .asd{background-color: aquamarine;}
    .salado{
        height: 200px;
        position: absolute;
        margin-top: 50px;
        margin-left: 65px;
        border-top-left-radius: 10px;
    }
    .logo-salado{
        height: 50px;
    }
    .etiqueta_salado{
        background-color:white;
        position: absolute;
        text-decoration: none;
        font-size: 27px;
        color: black;
        margin-left: 65px;
        margin-top: 250px;
        width: 300.14px;
        border-end-end-radius: 10px;
    }
    .dulce{
        width: 300.14px;
        position: absolute;
        margin-top: 350px;
        margin-left: 65px;
        border-top-left-radius: 10px;
    }
    .logo-dulce{
        margin-right: 15px;
        margin-left: 20px;
        height:50px;
    }
    .etiqueta_dulce{
        background-color:white;
        position: absolute;
        text-decoration: none;
        font-size: 27px;
        color: black;
        margin-left: 65px;
        margin-top: 570px;
        width: 300.14px;
        border-end-end-radius: 10px;
    }
    .pan{
        width: 300.14px;
        height: 225px;
        position: absolute;
        margin-top:670px;
        margin-left: 65px;
        border-top-left-radius: 10px;
    }
    .logo-pan{
        margin-right: 15px;
        margin-left: 20px;
        height:50px;
    }
    .etiqueta_pan{
        background-color:white;
        position: absolute;
        text-decoration: none;
        font-size: 27px;
        color: black;
        margin-left: 65px;
        margin-top: 890px;
        width: 300.14px;
        border-end-end-radius: 10px;
    }
    .footer{
        margin-top: 115vh;
        background-color: rgb(32, 29, 29);
        height: 250px;
        width: 425px;
    }
    .grupo{
        margin-left: 20px;
        color: white;
    }
    .footer_ismael{
        background-color: rgb(109, 102, 102) ;
        border-radius: 10px;
        width: fit-content;
        font-size: 10px;
        color: white;
        padding: 5px 5px;
        margin-left: 5px;
    }
    .footer_pamela{
        background-color: rgb(109, 102, 102) ;
        border-radius: 10px;
        width: fit-content;
        font-size: 10px;
        color: white;
        padding: 5px 5px;
        margin: -98px 5px auto 215px;
    }
    .footer_cristian{
        background-color: rgb(109, 102, 102) ;
        border-radius: 10px;
        width: fit-content;
        font-size: 10px;
        color: white;
        padding: 5px 5px;
        margin: 10px 5px auto 215px;
    }
    .footer_uliana{
        background-color: rgb(109, 102, 102) ;
        border-radius: 10px;
        width: fit-content;
        font-size: 10px;
        color: white;
        padding: 5px 5px;
        margin: -97px 0px 10px 5px;
    }
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (min-width:426px){
    .main_page{
        background-color: rgb(109, 102, 102);
    }
    .nav{
        position: relative;
        min-width: 1023px;
        height: 180px;
        background-color: rgb(39, 34, 34);
    }
    .img_home{
        width: 425px;
    }
    .container-fluid{
        padding:0!important;
        position: absolute;
        width: 190px !important;
        height: 110px !important;
        margin-top:-140px;
        margin-left: 800px  !important;
        background-color:#4d4545; 
        font-size: large
    }
    .navbar-toggler{
        display: inline;    
        height: 126.5px;
        position: absolute;
        background-color: rgb(105, 94, 94) !important;
        margin-top: 13px;
        margin-left: 165px !important;
    }
    .busqueda{
        margin-top: 123px;
        margin-left: -400px;
        height: 30px;
        width: 670px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border: hidden;
    }
    .seccion_busqueda{
        width: fit-content;
        background-color: aqua;
        position: relative;
        margin-left: -375px;
        margin-top: 15px;
    }
    .btn_busqueda{ 
        height: 30px;
        margin-left: -5px;
        color: white;
        text-decoration: none;
        border-end-end-radius: 10px;
        border-top-right-radius: 10px;
        border: hidden;
        background-color: rgb(109, 102, 102);}
}







/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (min-width:1024px){
    .main_page{
        background-color: aqua;
    }
}